body{
    background-color:rgb(white,0,white);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
section#title{
    font-size: 72px;
    text-align: center;
}
p.text{
    font-size: 30px;
}
#one,#four{
    text-shadow: 3px 3px 3px black;
    font-weight: none;
}
a{
    text-decoration: none;
    color:blue;
    
}
a:houver{
font-size: 36px;
}

div{
    height:350px;
    width: 300px;
    background: black;
    border-radius: 10px;
    margin: 10px;
    border: 7px solid red;
    color:white;
    padding:10px 20px 30px 40px;
    outline:3px solid blue;
}